<html>
  <head>
    <title><%= @email.subject %></title>
  </head>
  <body>
    Hi!
    <br>
    <a href="<%= PikiriWeb.Endpoint.url %>/auth?token=<%= @magic_token %>"}>Click the link</a>
  </body>
</html>