<html>
  <head>
    <title><%= @email.subject %></title>
  </head>
  <body>
    Hi!
    <br>
    <a href="<%= Application.fetch_env!(:pikiri, :host) %>/auth?token=<%= @magic_token %>"}>Click the link</a>
  </body>
</html>
